


<div class="containerflex containerflex{{produto.name}}">

    <img class="imgleft{{produto.name}}" [src]="produto.imgSrcPage">
    
    <div class="divright divright{{produto.name}}">

        <h1>
            {{produto.title}}
        </h1>
        <p>
            {{produto.aboutPage}}
        </p>
        <h4>
            {{produto.price}}
        </h4>
        <p class="p2 p2{{produto.name}}">
            Interessado na compra ? <br>
            Entre em contato <br>
            Whatsapp: +55 32 99999999 <br>
            Telefone: 32 3571-9999 <br>
            Email:<a routerLink="mailto:mnsacontato@email.com"> mnsacontato@email.com</a>
            <br>
        </p>
    </div>          
<!-- /src/app/pages/product/styles/ -->
    

</div>